*{
    padding: 0px;
    margin :0px
}
.Blog-content{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap:6px;
    box-sizing: border-box;
    padding: 30px;
}


.container1{
    grid-area: 1/1/2/3;
    
}

.container2{
    grid-area: 1/3/3/5;
   background-image: url("../src/assets/Vector/Layer 2.png");
}

.container3{
    grid-area: 2/1/3/3;
    background-color: #007ef9;
}

.container4{
    grid-area: 3/1/4/2;
    background-color: #b9b8b8;
}

.container5{
    grid-area: 3/2/4/3;
    background-color: #000000;
}

.container6{
    grid-area: 3/3/4/5;
    background-color: #e91d62;
}

@media (max-width:900px){

    .container4{
        display: none;
    }
    .container5{
        display: none;
    }

}
@media (max-width:900px){

    .Blog-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        margin-bottom: 10px;
        height: auto;
    }

    .container5{
        display: none;
    }

}
