@import url('https://fonts.googleapis.com/css2?family=Leckerli+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Leckerli+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Leckerli+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin:0px;
    padding:0px;
}

.Whoweare{
    background-color: #0081ff;
    height: 100vh;
}

.text{
    width: 500px;
}

.intro{
    width: 500px;
}

h1{
    
    color: #ffffff;
    font-weight: 400;
    font-family: "Leckerli One";
}


h2{
color: #ffffff;
font-weight: 700;
font-family: "Montserrat";
}

p{
    color: #ffffff;
    font-weight: 400;
    font-family: "Lato";
}

.Whoweare-button{
    width: 100px;
    height: 50px;
 } 

@media (max-width:550px){
    .Whoweare{
        padding-left: 50px;
    }
}